body{
    text-align: center;
}
.btn{
    height: 150px;
    width: 150px;
    border-radius: 15px;
    border: 10px solid black;
    margin: 2rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.green{
    background-color: rgb(95, 213, 95);
}
.yellow{
    background-color: rgb(236, 236, 95);
}
.blue{
    background-color: rgb(87, 87, 226);
}
.red{
    background-color: rgb(226, 83, 83);
}
.flash{
    background-color: #fff;
}
.userflash{
    background-color: rgb(240, 48, 224);
}